<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <div><a href="/index">Home</a></div>
    <div><a href="/login">Login</a></div>
    <div><a href="/logout">Logout</a></div>
    <div>Advies: 
    <a href="/advice/random">Random</a>
    <a href="/advice/save/10/random">Save Random 10</a>
    <a href="/advice/latest">Latest</a>
    <a href="/advice/censored">Censored</a>
    <a href="/self_advices">Saved</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
